.home-container {
  height: 650px;
  background-color: #ffffff;
  font-size: 22px;
  text-align: center;
  padding-top: 20px;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content-container h1 {
  margin-bottom: 13px;
  font-size: 1em;
  color: #ffffff;
}

.home-content-container p {
  width: 251px;
  font-size: 0.6em;
  line-height: 16.41px;
  color: #ffffff;
}

.home-card-banner {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 21px;
}

.home-image-container {
  padding: 50px 20px;
}

.home-image-container svg {
  width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  .home-container {
    font-size: 36px;
    padding-top: 30px;
  }
  .home-content-container h1 {
    width: 420px;
    margin-bottom: 5px;
  }
  .home-content-container p {
    width: 420px;
    height: 42px;
    font-size: 18px;
    margin-bottom: 41px;
  }
  .home-image-container {
    min-width: 400px;
    padding: 22px 101px;
  }
  .home-image-container svg {
    width: 333px;
    height: auto;
  }
  .home-card-banner {
    margin-left: 20px;
    margin-right: 20px;
    min-width: 536px;
    min-height: 365px;
  }
}

@media (min-width: 768px) {
  .home-container {
    min-height: 954px;
  }
  .home-card-banner {
    min-width: 728px;
    min-height: 475px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .home-image-container svg {
    width: 333px;
    height: auto;
  }
  .home-content-container p {
    margin-bottom: 76px;
  }
}

@media (min-width: 992px) {
  .home-container {
    min-height: 1130px;
  }
  .home-card-banner {
    min-width: 952px;
    min-height: 579px;
  }
  .home-image-container svg {
    width: 455px;
    height: auto;
  }
  .home-content-container p {
    margin-bottom: 124px;
  }
}

@media (min-width: 1280px) {
  .home-container {
    min-height: 650px;
    height: 85vh;
  }
  .home-card-banner {
    justify-content: space-around;
    flex-direction: row;
    min-width: 979px;
    min-height: 365px;
    margin-left: 150px;
    margin-right: 150px;
  }
  .home-content-container {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .home-content-container h1 {
    margin-top: 140px;
    margin-left: 85px;
  }
  .home-content-container p {
    margin-bottom: 141px;
    margin-left: 85px;
  }
  .home-image-container {
    padding: 83px 78px 83px 63px;
    display: flex;
    align-items: center;
    width: 472px;
    height: auto;
  }
  .home-image-container svg {
    width: 333px;
  }
}
